<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>tweet2chart</title>
	<style>
    body {
        padding-left: 10px;
        margin-left: 10px;
        background-color: #ededed;
        font-family: Helvetica, Arial, Verdana;
    }
    h2 {
        text-decoration: none;
        font-size: 19pt;
        font-weight: normal;
    }
    p {
        font-size: 11pt;
        font-weight: normal;
    }
    </style>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript">

        google.load("visualization", "1", {packages:["annotatedtimeline"]});
        google.setOnLoadCallback(drawVisualization);

        function drawVisualization() {            
            var query = new google.visualization.Query("data?{{query}}");
            query.send(handleQueryResponse);
        }
        
        function handleQueryResponse(response) {
            if (response.isError()) {
                alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
                return;
            }
              
            var data = response.getDataTable();
            var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
            chart.draw(data, {'fill': 30,
                              'displayAnnotations': true,
                              'displayExactValues': true,
                              'scaleColumns': [0], 
                              'scaleType': 'allfixed',
                              'thickness': 2,
                              });
        }
          
        </script>
        
    
</head>

<body>
    <h2><a href="http://twitter.com/{{user}}" target="_blank">{{user}}</a>'s values for <a href="http://search.twitter.com/search?{{marksearch}}">{{mark}}</h2>
    <div id="chart_div" style="height:600px;width:800px;"></div>
    <p>Usage: http://lab.polzunov.com/tweet2chart/TWITTER_USER_NAME/MARKER</p>
</body>
</html>
